/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* TEST */
     /* border: 1px solid green;  */
}

/* COMMON */

img{
    width: 100%;
}

body{
    font-family: "Lato",sans-serif;
    color: white;
    background-color: black;
}



/* HEADER */
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    
}

.header-icons{
    padding: 7px;
    align-items:center;
    border-radius: 5px;
    /* test */
    background-color:greenyellow;
    
}



/* MAIN */
main{
    width: 100%;
    height:calc(100vh - 200px);
}

.container{
    
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    align-content: flex-start;
    justify-content: space-around;
}

.box-img{
    background-image: url(../img/image.jpg);
    width: 250px; 
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
  
}

/* Repeated images */
.box-img{
    position: relative;
}

.background-content{
    display: flex;
    align-items:flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #69747f;
    opacity: 0.7;
    padding: 4px;
}
.background-icon,
.background-description{
    opacity:1;
}

/* FOOTER */
footer{
    width: 100%;
    height: 100px;
}